*{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font: Arial;
    text-decoration: none;
    transition: linear 250ms;
}
body{
    background-color: white;
}
/* PRIMEIRA SECTION */
.about{
    position: absolute;
    display: flex;
    width: 100%;
    height: 45.5rem;

}
.header{
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 75px;
    position: fixed;
    background-color: #38B6FF;
}
.btns{
    margin-right: 25px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}
#header-btn{
    font-size: 25px;
    border: none;
    font-weight: bold;
    display: flex;
    align-items: center;
    background-color: #38B6FF;
}
.logo{
    width: 81px;
    height: 81px;
    margin-left: 50px;
}
.logo-grande{
    margin-left: 100px;
    margin-top: 50px;
    width: 550px;
    height: 550px;
}
.container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.about-text{
    margin-left: 20px;
    width: 45%;
}
.texto-seg{
    color: black;
    font-weight: bold;
    font-size: 25px;
    
}
.seg{
    color: #38B6FF;
}
.detalhes{
    position: absolute;
    display: flex;
    justify-content: space-between;
}
.detalhes-esquerda{
    margin-top: -16.5rem;
    position: absolute;
    width: 450px;
    height: auto;
}
.detalhes-direita{
    margin-top: -16.5rem;
    margin-left: 92rem;
    position: absolute;
    width: 450px;
    height: auto;
}
.btnCadastro{
    position: absolute;
    margin-top: 17rem;
    margin-left: 70rem;
}
.cadastro{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 175px;
    height: 50px;
    border-radius: 20px;
    font-size: 20px;
    border: none;
    font-weight: bold;
    display: flex;
    background-color: #38B6FF; 
}

/* SEGUNDA SECTION */

.about2{
    display: flex;
    position: absolute;
    align-items: center;
    flex-direction: column;
    margin-top: 45.5rem;
    width: 100%;
    height: 45.5rem;
    background-color: #38B6FF;
    
}

.objetivo{
    margin-top: 5rem;
    display: flex;
    font-size: 50px;
    font-weight: bold;
    color: white;
}
.about-text2{
    margin-left: 20px;
    width: 75%;
}
.texto-seg2{
    margin-top: 10rem;
    color: black;
    font-weight: bold;
    font-size: 30px;
    
}
.seg2{
    color: white;
}
.about3{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    margin-top: 91rem;
    width: 100%;
    height: 45.5rem;
    
}
.moedas{
    display: flex;
    width: 600px;
    height: 600px
}
.about-text3{
    margin-left: 20px;
    width: 50%;
}
.texto-seg3{
    margin-top: 10rem;
    color: black;
    font-weight: bold;
    font-size: 30px;
    
}
.seg3{
    color: #38B6FF;
}

/* Hovers */

.cadastro:hover{
    transform: scale(1.2);
    color: white;
}
.saiba-mais:hover{
    transform: scale(1.2);
    color: white;
}
.login:hover{
    transform: scale(1.2);
    color: white;
}